body {
     background-color: black;
     color: rgb(142, 93, 206)
}

#instrumentSeqs label {
    height: 31px;
}

#instrumentSeqs label div {
    display: flex;
    position: absolute;
    left: 300px;
}


.container {  
  display: block;  
  position: relative;  
  padding-left: 10px;  
  margin-bottom: 20px;  
  cursor: pointer;  
  font-size: 25px;  
}

/* Hide the default checkbox */  
.container input {  
  visibility: hidden;  
  cursor: pointer;  
}  

/* Create a custom checkbox */  
.mark {  
  position: absolute;  
  top: 0;  
  left: 0;  
  height: 29px;  
  width: 29px;  
  border-radius: 5px;
  background-color: rgb(54, 0, 45);  
  z-index: -1;
}  

label {
    display: flex;
}

.container {
    border: 2px solid purple;
    border-radius: 5px;
}

.offBeat {
    border: 2px solid rgb(158, 63, 0);
    border-radius: 5px;
}

.playing {
    border: 2px solid rgb(0, 251, 42);
    border-radius: 5px;
}

.container:hover input ~ .mark {  
  background-color: rgb(134, 65, 134);  
}  

.container input:checked ~ .mark {  
  background-color: blue;  
}  

.container:hover input:checked ~ .mark {  
  background-color: rgb(100, 100, 255);  
}  









.volume {
    position: absolute;
    left: 80px;
    width: 70px;
}

select {
    position: absolute;
    left: 200px;
}